body {
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.olive{
    background-color:olive;
}
.blueviolet{
    background-color: blueviolet;
}
.darksalmon{
    background-color:darksalmon
}
.lightgreen{
    background-color: lightgreen;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}